[MASTER]
score=n
generated-members=PyPDF2.*
reports=no

[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no

[MESSAGES CONTROL]
disable=W0511  # Disable TODO/FIXME warnings
