{%- set release = ctx.history.released.values() | first -%}
cff-version: 1.2.0
message: "If you use pdfbaker in your work, please cite it using the following metadata."
title: "pdfbaker"
version: {{ release.version | string }}
date-released: {{ release.tagged_date.strftime("%Y-%m-%d") }}
repository-code: "https://github.com/pythonnz/pdfbaker"
license: "MIT"
authors:
  - family-names: Adair
    given-names: Danny
    orcid: "https://orcid.org/0009-0004-8327-955X"
keywords:
  - PDF
  - SVG
  - YAML
  - CLI
  - Python
